*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;

}

body{
    background-color: #f0f4ff;
    color: #1a1f2e;
    min-height:100vh;
    transition: background-color 0.3s, color 0.3s;
}

body.dark{
    background-color: #0d1117;
    color: #e6edf3;
}